.about {
    width: 100%;
    height: 100vh;
    display: flex;
    justify-content: space-between;
    align-items: center;
    gap: 50px;
    padding: 15px;
}

.text {
    max-width: 50%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap: 30px;
    text-align: center;
    color: var(--cor-branca);
}

.text h2,
.text p {
    opacity: 0;
}

.about img {
    max-width: 50%;
    height: auto;
    opacity: 0;
}

@media (max-width: 768px) {
    .about {
        flex-direction: column;
        justify-content: space-evenly;
    }
}