.page {
    width: 100%;
    max-width: 1440px;
    min-height: calc(100vh - 122px);
    margin: 0 auto;
}

.main {
    min-height: calc(100vh - 232px);
    display: flex;
    flex-direction: column;
}