.start {
    width: 100%;
    height: calc(100vh - 122px);
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 0 10px;
    transition: all 0.3s ease-in-out;
}

.start img {
    max-width: 50%;
    height: auto;
    opacity: 0;
}

.divtext {
    max-width: 50%;
    display: flex;
    flex-direction: column;
    gap: 50px;
    color: var(--cor-branca);
    cursor: default;
}

.divtext h1 {
    text-align: center;
    opacity: 0;
}

.divtext h1 strong {
    transition: all 0.3s ease-in-out;
}

.divtext h1 strong:hover {
    color: var(--cor-primaria);
}

.divtext p {
    text-align: justify;
    opacity: 0;
}

@media (max-width: 768px) {
    .start {
        flex-direction: column;
        justify-content: space-evenly;
    }
}