.header {
    width: 100%;
    display: flex;
    justify-content: space-between;
    padding: 10px 10px 0 10px;
}

.linklogo img {
    max-width: 110px;
    background-color: var(--cor-fundo-cinza-escuro);
    transition: all .4s ease-in-out;
    border-radius: 15px;
    z-index: 1;
}

.linklogo {
    display: flex;
    position: relative;
    justify-content: center;
    align-items: center;
    background-color: var(--cor-fundo-escuro);
    padding: 1px;
    border-radius: 15px;
    overflow: hidden;
    transition: all .4s ease-in-out;
}

.linklogo::before {
    width: 130%;
    height: 130%;
    position: absolute;
    content: '';
    background: repeating-conic-gradient(var(--cor-primaria) 0%, var(--cor-primaria) 5%, var(--cor-primaria) 10%, transparent 5%, transparent 40%, var(--cor-primaria) 50%);
    animation: anime 4s linear infinite;
    animation-delay: -1s;
    border-radius: 15px;
}

.linklogo::after {
    width: 130%;
    height: 130%;
    position: absolute;
    content: '';
    background: repeating-conic-gradient(var(--cor-primaria) 0%, var(--cor-primaria) 5%, var(--cor-primaria) 10%, transparent 5%, transparent 40%, var(--cor-primaria) 50%);
    animation: anime 4s linear infinite;
    border-radius: 15px;
}

.linklogo:hover {
    box-shadow: 0 0 20px var(--cor-secundaria);
}

.navul {
    display: flex;
    gap: 10px;
    color: var(--cor-branca);
    list-style: none;
}

.navul li {
    display: flex;
    text-align: center;
    text-transform: capitalize;
    font-size: 1rem;
    font-weight: 500;
    letter-spacing: 1px;
    padding: 1px;
    background: linear-gradient(45deg,
            #00f,
            var(--cor-fundo-cinza-escuro),
            #00f,
            var(--cor-fundo-cinza-escuro),
            #00f);
    background-size: 400% 400%;
    animation: gradient 4s linear infinite;
}

.navul a {
    background-color: var(--cor-fundo-cinza-escuro);
    padding: 5px 10px;
    transition: all 0.3s ease-in-out;
}

.navul a:hover {
    color: var(--cor-primaria);
}

@media (max-width: 768px) {
    .navul {
        display: none;
    }
}

@keyframes anime {
    0% {
        transform: rotate(0deg);
    }

    100% {
        transform: rotate(360deg);
    }
}

@keyframes gradient {
    0% {
        background-position: 0% 50%;
    }

    50% {
        background-position: 100% 50%;
    }

    100% {
        background-position: 0% 50%;
    }
}