main {
    width: 100%;
    height: 100vh;
    display: flex;
    justify-content: space-evenly;
    flex-wrap: wrap;
    gap: 15px;
    font-family: 'Open Sans', sans-serif;
    padding-top: 10px;
    animation: iframeAnim 2s ease 0s 1 normal forwards;
}
.div-img {
    max-width: 350px;
    display: flex;
}
.div-img img {
    width: 100%;
    border-radius: 15px;
}
.section-boas-vindas {
    max-width: 350px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;
    gap: 20px;
}
.section-boas-vindas h1 {
    font-size: 20px;
    font-weight: 400;
}
.section-boas-vindas h1 strong {
    color: #08b2f0;
    cursor: default;
    transition: .3s ease-in-out;
}
.section-boas-vindas h1 strong:hover {
    opacity: .6;
}
.section-boas-vindas p {
    font-size: 14px;
    font-weight: 400;
}
@keyframes iframeAnim {
	0% {
		transform: scale(0.5);
	}
	100% {
		transform: scale(1);
	}
}