.section-apresentacao {
    width: 100%;
    min-height: 70vh;
    display: none;
    align-items: center;
    justify-content: space-evenly;
    flex-wrap: wrap;
    gap: 15px;
    font-family: 'Open Sans', sans-serif;
}

.apresent-img {
    max-width: 350px;
    display: flex;
    border-radius: 15px;
    animation: iframeAnim 2s ease 0s 1 normal forwards;
}

.section-boas-vindas {
    max-width: 350px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    text-align: justify;
    gap: 20px;
    animation: iframeAnim 2s ease 0s 1 normal forwards;
}

.section-boas-vindas h1 {
    font-size: 20px;
    font-weight: 400;
    margin: 0 auto;
}

.section-boas-vindas h1 strong {
    color: #08b2f0;
    cursor: default;
    transition: .3s ease-in-out;
}

.section-boas-vindas h1 strong:hover {
    opacity: .6;
}

.section-boas-vindas p {
    font-size: 14px;
    font-weight: 400;
}

@keyframes iframeAnim {
    0% {
        transform: scale(0.5);
    }

    100% {
        transform: scale(1);
    }
}