.section-catalogo {
    width: 100%;
    min-height: 100vh;
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.div-catalogo {
    display: flex;
    align-items: center;
    justify-content: space-evenly;
    flex-wrap: wrap;
    gap: 20px;
    padding: 15px 10px 0 10px;
}

.section {
    display: flex;
    flex-direction: column;
    align-items: center;
    cursor: pointer;
    transition: .3s ease-in-out;
}

.section:hover {
    transform: scale(1.1);
}

.section:hover h2 {
    color: #08B2F0;
}

.h1-catalogo {
    font-size: 20px;
    font-weight: 400;
    color: #08B2F0;
    margin: 0 auto;
}

.img-catalogo {
    width: 200px;
    border-radius: 5px;
}

.h2-catalogo {
    font-size: 16px;
    font-weight: 400;
    transition: .3s ease-in-out;
}

.section p {
    max-width: 200px;
    text-align: center;
    font-size: 14px;
    font-weight: 400;
}