main {
    width: 100%;
    height: 100vh;
    display: flex;
    align-items: center;
    justify-content: center;
    animation: iframeAnim 2s ease 0s 1 normal forwards;
    padding: 10px;
}
iframe {
    width: 100%;
    height: 100%;
    border-radius: 10px;
}
@keyframes iframeAnim {
	0% {
		transform: scale(0.5);
	}
	100% {
		transform: scale(1);
	}
}