header {
    width: 100%;
    display: flex;
    justify-content: space-between;
    padding: 10px 30px;
    animation: headerAnim 2s ease 0s 1 normal forwards;
}
.logo-bfn {
	position: relative;
	display: flex;
	align-items: center;
	justify-content: center;
    width: 130px;
	height: 130px;
	border-radius: 100%;
	background: repeating-conic-gradient(from var(--i), #08b2f0 0%, #08b2f0 5%, transparent 5%, transparent 40%, #08b2f0 50%);
	animation: logoAnim 4s linear infinite;	
}
.logo-bfn::before {
	position: absolute;
	width: 100%;
	height: 100%;
	content: '';
	border-radius: 100%;
	z-index: -1;
	background: repeating-conic-gradient(from var(--i), #08b2f0 0%, #08b2f0 5%, transparent 5%, transparent 40%, #08b2f0 50%);
	animation: logoAnim 4s linear infinite;
	animation-delay: -1s;
}
.logo-bfn img {
	width: 126px;
	height: 126px;
	border-radius: 100%;
	background-color: #FFF;
	transition: .3s ease-in-out;
}
.logo-bfn img:hover {
    background-color: #08b2f0;
	transform: rotate(-360deg);
}
.ul-menu {
    display: flex;
    padding-top: 20px;
}
.ul-menu li {
	position: relative;
	transition: .3s ease-in-out;
}
.ul-menu li:hover {
    opacity: .6;
}
.ul-menu li::after {
	content: '';
	position: absolute;
	width: 0px;
	height: 2px;
	left: 50%;
	bottom: -2px;
	background-color: #08b2f0;
	transition: all ease-in-out .2s;
}
.ul-menu li:hover::after {
	width: 100%;
	left: 0;
}
.ul-menu a {
    font-family: 'Open Sans', sans-serif;
    font-size: 16px;
    font-weight: 400;
    color: #08b2f0;
    padding: 10px 12px; 
}
.div-menu {
    display: none;
    width: 60px;
    height: 60px;
    align-self: flex-end;
}
nav label {
    display: flex;
    flex-direction: column;
}
.hamburg {
    background-color: #000;
    position: relative;
    display: block;
    width: 30px;
    height: 2px;
    top: 29px;
    left: 15px;
    transition: 0.5s ease-in-out;
}
.hamburg:before,
.hamburg:after {
    background-color: #000;
    content: "";
    display: block;
    width: 100%;
    height: 100%;
    position: absolute;
    transition: 0.2s ease-in-out;
}
.hamburg:before {
    top: -10px;
}
.hamburg:after {
    bottom: -10px;
}
input {
    display: none;
}
input:checked ~ label .hamburg {
    transform: rotate(45deg);
}
input:checked ~ label .hamburg:before {
    transform: rotate(90deg);
    top: 0;
}
input:checked ~ label .hamburg:after {
    transform: rotate(90deg);
    bottom: 0;
}
@keyframes headerAnim {
	0% {
		animation-timing-function: ease-in;
		opacity: 0;
		transform: translateY(-250px);
	}
	38% {
		animation-timing-function: ease-out;
		opacity: 1;
		transform: translateY(0);
	}
	55% {
		animation-timing-function: ease-in;
		transform: translateY(-65px);
	}
	72% {
		animation-timing-function: ease-out;
		transform: translateY(0);
	}
	81% {
		animation-timing-function: ease-in;
		transform: translateY(-28px);
	}
	90% {
		animation-timing-function: ease-out;
		transform: translateY(0);
	}
	95% {
		animation-timing-function: ease-in;
		transform: translateY(-8px);
	}
	100% {
		animation-timing-function: ease-out;
		transform: translateY(0);
	}
}
@keyframes logoAnim {
	0% {
		--i: 0deg;
	}
	100% {
		--i: 360deg;
	}
}
@property --i {
	syntax: '<angle>';
	inherits: false;
	initial-value: 0deg;
}