@media (max-width: 860px) {
    .logo-bfn {
        width: 80px;
        height: 80px;
    }

    footer {
        justify-content: center;
    }

    .div-endereco {
        text-align: center;
    }

    .ul-social {
        justify-content: center;
        padding-top: 10px;
    }

    .ul-social li:nth-child(9) {
        display: block;
    }
}

@media (max-width: 710px) {
    .body-index {
        min-width: 375px;
    }

    header {
        flex-direction: row-reverse;
    }

    .div-menu {
        display: block;
    }

    .nav-menu .ul-menu {
        display: none;
        width: 200px;
        background-color: rgba(255, 255, 255, .8);
        padding: 20px;
        border-radius: 10px;
    }

    input:checked~.ul-menu {
        display: block;
        animation: hamburgAnim .3s linear forwards;
    }

    .nav-menu {
        position: absolute;
        top: 8px;
        left: 20px;
        z-index: 1;
    }

    .nav-menu .ul-menu a {
        text-align: center;
        padding: 15px;
        display: block;
    }

    .ul-menu a::after {
        bottom: 10px;
    }

    .nav-menu .ul-menu a.activa::after {
        bottom: 10px;
    }

    .section-iframe {
        min-height: 100vh;
    }

    .ul-social {
        flex-wrap: wrap;
    }

    .div-main .h2-info-nos {
        font-size: 24px;
    }
    
    .div-sobrenos .p-info-nos {
        font-size: 16px;
    }
}

@keyframes hamburgAnim {
    0% {
        animation-timing-function: ease-in;
        opacity: 0;
        transform: translateX(-250px);
    }

    100% {
        animation-timing-function: ease-in;
        transform: translateX(0);
    }
}