body {
    min-height: 100vh;
    display: flex;
}

.main-sobrenos {
    min-width: 100%;
    min-height: 100%;
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
    font-family: 'Open Sans', sans-serif;
    animation: iframeAnim 2s ease 0s 1 normal forwards;
}

.div-main {
    width: 100%;
    height: 100%;
    position: absolute;
    display: flex;
    justify-content: center;
    align-items: center;
    color: #FFF;
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    opacity: 0;
}

.div-sobrenos {
    flex-direction: column;
    color: #000;
    background-image: url(../images/LOGO-BFN-WALLPAPER.png);
}

.div-placa-mae {
    background-image: url(../images/backgrounds/cpu-4393378_1920.jpg);
}

.div-placa-mae0 {
    background-image: url(../images/backgrounds/cpu-4393376_1920.jpg);
}

.div-notebook {
    background-image: url(../images/backgrounds/electronics-2929043_1920.jpg);
}

.div-notebook0 {
    background-image: url(../images/backgrounds/computer-5088602_1920.jpg);
}

.div-notebook1 {
    background-image: url(../images/backgrounds/computer-5088596_1920.jpg);
}

.div-notebook2 {
    background-image: url(../images/backgrounds/electronic-6489996_1920.jpg);
}

.div-notebook3 {
    background-image: url(../images/backgrounds/electronics-4959283_1920.jpg);
}

.div-dados {
    background-image: url(../images/backgrounds/information-1641937_1920.jpg);
}

.div-dados0 {
    background-image: url(../images/backgrounds/computer-harddrive-5885485_1920.jpg);
}

.div-placa-video {
    background-image: url(../images/backgrounds/nvidia-5264914_1920.jpg);
}

.div-placa-video0 {
    background-image: url(../images/backgrounds/pc-2798015_1920.jpg);
}

.div-desktop {
    background-image: url(../images/backgrounds/technology-3126814_1920.jpg);
}

.div-desktop0 {
    background-image: url(../images/backgrounds/cooler-933691_1920.jpg);
}

.div-servidor {
    background-image: url(../images/backgrounds/server-4393370_1920.jpg);
}

.div-servidor0 {
    background-image: url(../images/backgrounds/tech-3682674_1920.jpg);
}

.div-site {
    background-image: url(../images/backgrounds/circuit-board-6883235_1920.jpg);
}

.div-site0 {
    background-image: url(../images/backgrounds/programmer-7633812_1920.jpg);
}

.div-seguranca {
    background-image: url(../images/backgrounds/camera-1124585_1920.jpg);
}

.div-seguranca0 {
    background-image: url(../images/backgrounds/cctv-7267534_1920.jpg);
}

.div-main .h2-info-nos {
    font-size: 32px;
    font-weight: bold;
    padding: 0 30px;
    cursor: default;
}

.div-sobrenos .p-info-nos {
    font-size: 24px;
    font-weight: bold;
    padding: 0 30px;
    cursor: default;
}

.visibled {
    opacity: 1;
}

.btn-sobrenos {
    position: absolute;
    top: 0;
    bottom: 0;
    cursor: pointer;
    opacity: 0;
    transition: .3s ease-in-out;
}

.btn-right {
    right: 0;
    background: linear-gradient(to right, transparent 0%, #08B2F0 200%);
}

.btn-left {
    left: 0;
    z-index: 1;
    background: linear-gradient(to left, transparent 0%, #08B2F0 200%);
}

.btn-sobrenos:hover {
    opacity: 1 !important;
}

.arrow {
    width: 30px;
}

.arrow-right {
    transform: rotate(-90deg);
}

.arrow-left {
    transform: rotate(90deg);
}

@keyframes iframeAnim {
    0% {
        transform: scale(0.5);
    }

    100% {
        transform: scale(1);
    }
}