main {
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: center;
    flex-direction: column;
    gap: 15px;
    font-family: 'Open Sans', sans-serif;
    animation: iframeAnim 2s ease 0s 1 normal forwards;
}
.div-sobrenos {
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap: 10px;
}
.div-sobrenos h1 {
    font-size: 20px;
    font-weight: 400;
}
.div-sobrenos p {
    max-width: 70%;
    text-align: justify;
    font-size: 14px;
    font-weight: 400;
}
.div-main {
    width: 100%;
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    flex-wrap: wrap;
    gap: 10px;
}
.div-img {
    max-width: 350px;
    display: flex;
    align-items: center;
}
.div-img img {
    width: 100%;
    border-radius: 15px;
}
.div-main p {
    width: 300px;
    text-align: center;
    font-size: 14px;
    font-weight: 400;
}
.div-notebook, .div-desktop {
    flex-direction: row-reverse;
}
@keyframes iframeAnim {
	0% {
		transform: scale(0.5);
	}
	100% {
		transform: scale(1);
	}
}