body {
    min-height: 100vh;
    display: flex;
}

.main-sobrenos {
    min-width: 100%;
    min-height: 100%;
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
    font-family: 'Open Sans', sans-serif;
    animation: iframeAnim 2s ease 0s 1 normal forwards;
}

.div-main {
    width: 100%;
    height: 100%;
    position: absolute;
    display: flex;
    justify-content: center;
    align-items: center;
    color: #FFF;
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    opacity: 0;
}

.div-sobrenos {
    flex-direction: column;
    color: #000;
    background-image: url(../images/LOGO-BFN-WALLPAPER.png);
}

.div-placa-mae {
    background-image: url(../images/placamae.jpg);
}

.div-notebook {
    background-image: url(../images/placadenotebook.jpg);
}

.div-placa-video {
    background-image: url(../images/placadevideo.jpg);
}

.div-desktop {
    background-image: url(../images/gabinete.jpg);
}

.div-site {
    background-image: url(../images/desenvsite.jpg);
}

.div-seguranca {
    background-image: url(../images/camera.jpg);
}

.div-main .h2-info-nos {
    font-size: 32px;
    font-weight: bold;
}

.div-sobrenos .p-info-nos {
    font-size: 24px;
    font-weight: bold;
}

.visibled {
    opacity: 1;
}

@keyframes iframeAnim {
    0% {
        transform: scale(0.5);
    }

    100% {
        transform: scale(1);
    }
}