body {
    min-height: 100vh;
    display: flex;
}

.main-sobrenos {
    min-width: 100%;
    min-height: 100%;
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
    font-family: 'Open Sans', sans-serif;
    animation: iframeAnim 2s ease 0s 1 normal forwards;
}

.div-main {
    width: 100%;
    height: 100%;
    position: absolute;
    display: flex;
    justify-content: center;
    align-items: center;
    color: #FFF;
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    opacity: 0;
}

.div-sobrenos {
    flex-direction: column;
    color: #000;
    background-image: url(../images/LOGO-BFN-WALLPAPER.png);
}

.div-placa-mae {
    background-image: url(../images/placamae.jpg);
}

.div-notebook {
    background-image: url(../images/placadenotebook.jpg);
}

.div-placa-video {
    background-image: url(../images/placadevideo.jpg);
}

.div-desktop {
    background-image: url(../images/gabinete.jpg);
}

.div-site {
    background-image: url(../images/desenvsite.jpg);
}

.div-seguranca {
    background-image: url(../images/camera.jpg);
}

.div-main .h2-info-nos {
    font-size: 32px;
    font-weight: bold;
    padding: 0 30px;
}

.div-sobrenos .p-info-nos {
    font-size: 24px;
    font-weight: bold;
    padding: 0 30px;
}

.visibled {
    opacity: 1;
}

.btn-sobre {
    position: absolute;
    top: 0;
    bottom: 0;
    cursor: pointer;
    opacity: 0;
    transition: .3s ease-in-out;
}

.btn-right {
    right: 0;
    background: linear-gradient(to right, transparent 0%, black 200%);
}

.btn-left {
    left: 0;
    z-index: 1;
    background: linear-gradient(to left, transparent 0%, black 200%);
}

.btn-sobre:hover {
    opacity: 1 !important;
}

.arrow {
    width: 30px;
}

.arrow-right {
    transform: rotate(-90deg);
}

.arrow-left {
    transform: rotate(90deg);
}

@keyframes iframeAnim {
    0% {
        transform: scale(0.5);
    }

    100% {
        transform: scale(1);
    }
}