body {
    min-height: 100vh;
    display: flex;
    flex-direction: column;
    align-items: center;
}
main {
    width: 100%;
    height: 100vh;
    display: flex;
    flex-direction: column;
    align-items: center;
    padding-top: 10px;
    font-family: 'Open Sans', sans-serif;
}
.section-iframe {
    width: 100%;
    height: 100%;
    display: flex;
}
.section-iframe iframe {
    width: 100%;
    height: 100%;
    display: flex;
}
footer {
    width: 100%;
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
    align-items: center;
    padding: 10px 30px;
    animation: footerAnim 2s ease 0s 1 normal forwards;
}
.div-endereco {
    display: flex;
    flex-direction: column;
}
.div-endereco p {
    font-family: 'Open Sans', sans-serif;
    font-size: 14px;
    font-weight: 400;
}
.ul-social {
    display: flex;
    gap: 15px;
}
.ul-social li {
    width: 35px;
    display: flex;
    border-radius: 30px;
}
.ul-social li a {
    display: flex;
    transition: .3s ease-in-out;
    border-radius: 30px;
} 
.ul-social li a img {
    width: 100%;
    border-radius: 30px;
}
.ul-social li a:hover {
    box-shadow: 0 2px 10px #08b2f0;
    transform: rotate(360deg);
}
@keyframes footerAnim {
	0% {
		animation-timing-function: ease-in;
		opacity: 0;
		transform: translateY(250px);
	}
	38% {
		animation-timing-function: ease-out;
		opacity: 1;
		transform: translateY(0);
	}
	55% {
		animation-timing-function: ease-in;
		transform: translateY(65px);
	}
	72% {
		animation-timing-function: ease-out;
		transform: translateY(0);
	}
	81% {
		animation-timing-function: ease-in;
		transform: translateY(28px);
	}
	90% {
		animation-timing-function: ease-out;
		transform: translateY(0);
	}
	95% {
		animation-timing-function: ease-in;
		transform: translateY(8px);
	}
	100% {
		animation-timing-function: ease-out;
		transform: translateY(0);
	}
}