.footer {
    width: 100%;
    display: flex;
    justify-content: space-between;
    padding: 10px;
    cursor: default;
}

.footer p {
    font-size: 13px;
    color: var(--cor-branca);
}

.addressyear {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 10px;
}

.imgstart {
    width: 100px;
    height: auto;
}

.imgmedia {
    display: none;
    width: 70px;
    height: auto;
}

.social {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 10px;
}

.social a {
    width: 27px;
    height: 27px;
    color: var(--cor-branca);
}

.social a:last-child {
    display: none;
}

.icon,
.iconphone {
    width: 100%;
    height: 100%;
    transition: all 0.3s ease-in-out;
}

.icon:hover,
.iconphone:hover {
    color: var(--cor-primaria);
}

@media (max-width: 768px) {
    .footer {
        flex-direction: column;
        align-items: center;
        gap: 10px;
        text-align: center;
    }

    .social a:last-child {
        display: block;
    }

    .imgstart {
        display: none;
    }

    .imgmedia {
        display: block;
    }
}